.link_color {
    color: silver;
}

a:visited {
    color: silver;
}

.song_title {
    color: rgb(255, 255, 255);
}

.default {
    position: relative;
    border:  solid 2px black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(158, 154, 154);
}

.header {
    top: 5px;
    height: 100px;
    right: 5px;
    left: 5px;
    text-align: center;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header2 {
    text-align: center;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;

}

.body {
    top: 114 px;
    right: 5px;
    left: 5px;
    height: 400px;
}

.body2 {
    top: 114 px;
    right: 5px;
    left: 5px;
    height: 320px;
}

.body3 {
    top: 114 px;
    right: 5px;
    left: 5px;
    height: 450px;
}

.body4 {
    top: 114 px;
    right: 5px;
    left: 5px;
    height: 900px;
}

.footer {
    bottom: 5px;
    left: 5px;
    right: 5px;
    height: 50px;
    text-align: center;
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: center;
}